{o4glws.i}

DEFINE VARIABLE vhndRequestDoc   AS HANDLE    NO-UNDO. 
DEFINE VARIABLE vhndResponseDoc  AS HANDLE    NO-UNDO.

PROCEDURE OUTPUT-HEADERS:
  IF WEB-CONTEXT:IS-XML THEN 
  DO:
    output-content-type("text/xml"). 
  END.
END.

IF WEB-CONTEXT:IS-XML THEN 
DO: 
  CREATE X-DOCUMENT vhndRequestDoc. 
  vhndRequestDoc = WEB-CONTEXT:X-DOCUMENT.
  
  RUN PROCESS-REQUEST(vhndRequestDoc,OUTPUT vhndResponseDoc).
  vhndResponseDoc:SAVE("STREAM", "WebStream").

  DELETE OBJECT vhndResponseDoc. 
END.
